


<!-- start category-section -->
<div class="category-section">
  <div class="container">
    <div class="logos">
      <img src="assets/img/chef.png" alt="">
    </div>
    <div class="center-section mb-5">
      <div class="heading">
        <ul>
          <li>Breakfast</li>
          <li>Lunch</li>
          <li>Dinner</li>
          <li>Snacks</li>
          <li>Salad</li>

        </ul>
      </div>
      <div class="category mt-5">
        <div class="meals-category mb-5">
          <h1>MEALS
            CATEGORIES</h1>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
        </div>
        <div class="meals-category mb-5">
          <h1>MEALS
            CATEGORIES</h1>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end category-section -->

