<!-- start sceion-one -->
<div
  class="info-section"
>
  <div class="container">
    <div class="logo">
      <img routerLink="/dashboard" src="assets/img/black.png" alt="" />
    </div>
    <div class="personal-info">
      <div class="title">
        <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
        <h1>Login</h1>
      </div>

      <form
        class="needs-validation"
        novalidate
        #f="ngForm"
        (ngSubmit)="login(f)"
        #registerForm="ngForm"
      >
        <div class="formula text-left">

          <div class="form-group row">
            <label for="inputPassword4" class="col-12 col-form-label"
              ><span
                class="has-asterisk"
                *ngIf="email.errors && (email.touched || requiredMsg)"
                >*</span
              >Email</label
            >
            <div class="col-12">
              <input
                type="email"
                #email="ngModel"
                name="email"
                [(ngModel)]="credentials.email"
                class="form-control border-ridus"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                placeholder="*********"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-form-label font-15"
              ><span
                class="has-asterisk"
                *ngIf="
                  password.errors && (password.touched || requiredMsg)
                "
                >*</span
              >Client number</label
            >
            <div class="col-12">
              <input
                type="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="credentials.client_number"
                class="form-control border-ridus"
                required
                id="inputnumber"
                placeholder="+9"
              />
            </div>
          </div>
        </div>
        <button class="btn btn-lg Continue" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>