<!-- start sceion-one -->
<div class="navbar-header">
    <div class="img-chef">
      <img src="assets/img/img.png" alt="" />
    </div>
    <div class="btn-group sign-chef">
      <button class="btn btn-primary mrg-left" routerLink="/home">Home</button>
    </div>
  </div>
  <div
    class="info-section"
  >
    <div class="container">
      <div class="logo mb-3">
        <img routerLink="/dashboard" src="assets/img/img.png" alt="" />
      </div>
      <div class="personal-info">
        <div class="title">
          <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
          <h1>Forget Password</h1>
        </div>
  
        <form
          class="needs-validation"
          novalidate
          #f="ngForm"
          (ngSubmit)="submit(f)"
          #registerForm="ngForm"
        >
          <div class="formula text-left">
  
            <div class="form-group row">
              <label for="inputPassword4" class="col-12 col-form-label"
                ><span
                  class="has-asterisk"
                  *ngIf="email.errors && (email.touched || requiredMsg)"
                  >*</span
                >Email</label
              >
              <div class="col-12">
                <input
                  type="email"
                  #email="ngModel"
                  name="email"
                  [(ngModel)]="credentials.email"
                  class="form-control border-ridus"
                  required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  placeholder="Email"
                />
              </div>
            </div>
            <a routerLink="/login">Login</a>
          </div>
          <button class="btn btn-lg Continue" type="submit" [disabled]="loading">Send</button>
        </form>
      </div>
    </div>
  </div>