$primary: #83489a;
// start sceion-one

.has-asterisk {
  color: #cd2238;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 2px;
}
.navbar-header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  padding: 0 30px;
  .img-chef {
    max-width: 180px;
    img {
      width: 100%;
    }
  }
  .sign-chef {
    margin-top: 12px;
    margin-right: 5px;
    button {
      outline: none;
      z-index: 1;
      color: #fff;
      border: none;
      padding: 10px 30px;
      border-radius: 30px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: none;
      transition: 0.2s ease;
    }
    .mrg-left {
      // margin-left: -30px;
      background-color: #7b7879;
    }
    .index {
      z-index: 2;
    }
    @media only screen and (max-width: 767px) {
      button {
        padding: 10px 13px;
        border-radius: 15px;
      }
      .mrg-left {
        // margin-left: -14px;
      }
    }
  }
}
.info-section {
  padding: 165px 0px;
  background-image: url("assets/img/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .logo {
    max-width: 150px;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .personal-info {
    max-width: 450px;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    text-align: center;
    margin: auto;
    min-width: 300px;
    .parent-one {
      width: 50%;
      background-color: #e6e8d9;
      bottom: 24px;
      height: 6px;
      margin: auto;
      position: relative;
      margin-top: 20px;
      hr {
        border: 3px solid $primary;
        border-radius: 4px;
        position: absolute;
        left: 0px;
        margin: auto;
      }
    }
    .title {
      margin: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 20px;
        margin: auto;
      }
    }
    .formula {
      padding: 20px 0px;
      width: 95%;
      margin: auto;
    }
    @media only screen and (max-width: 767px) {
      .formula {
        width: 100%;
      }
    }
    button {
      color: #fff;
      background-color: $primary;
      padding: 10px 70px;
      // margin-top: 30px;
      box-shadow: none;
    }
    @media only screen and (max-width: 767px) {
      button {
        padding: 10px 15px;
        font-size: 18px;
      }
    }
    .font-15 {
      font-size: 15px;
    }
    .border-ridus {
      border-radius: 10px;
      box-shadow: none;
      border: 1px solid #ced4da;
    }
  }
}

