$primary:#83489A;
// start healthfood-section
.healthyfood-section{
  background-image: url("assets/img/img-opacity.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  .header{
    width: 100%;
    position: relative;
    .img-logo{
      max-width: 200px;
      margin: auto;
      position: fixed;
      top: 0px;
      left: 40%;
      z-index: 2;
      img{
  width: 100%;
      }
    }
    @media only screen and (max-width:767px)  {
      .img-logo{
        max-width: 100px;
      }
      
    }
    .sign-button{
       position: absolute;
       right: 0;
      // .index{
      //   z-index: 1;
      //   background-color: #faf9f9;

      // }
      button{
        color: #748A9D;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        box-shadow: none;
        background-color: #e6e3e4;
        box-shadow: 0px 0px 100px #b0a9a9;

      }
      .focused{
        z-index: 3;
      background-color: #faf9f9;
      transition: 0.2s ease;
       
      }
      .mrg-left{
        margin-left: -30px; 
      }
      // .mrg-left:focus +.index{
      //   background-color: #e6e3e4;
      // }
    
      @media only screen and (max-width: 767px) {
        button {
          padding: 10px 13px;
          border-radius: 15px;
        }
        .mrg-left{
         margin-left: -14px;
        } 
      }
      
  
    }
  }
  .circle{
    .dot {
      height: 80px;
      width: 80px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #748A9D
    
  }
}

  .details-section{
    .info{
      h1{
        color: $primary;
        font-size: 20px;
      }
      .data{
        background-color: #F5F5F5;
        padding: 12px 16px;
        label{
          color: #000000;
          font-size: 13px;
          margin: 0px;
          font-weight: bold;
        }
        .border-ridus{
          border: none;
          color: #ACACAC;
          background-color: #F5F5F5;
          box-shadow: none;
          font-size: 13px;
          height: 25px;
          padding: 0px;
        }
        i{
          text-align: right;
          display: block;
          margin-top: -22px;
          font-size: 17px;
          color: $primary;
          font-weight: lighter;
        }
      }
      .name{
        .full-name{
          border: none;
          color: #A6BCD0;
          background-color: #F5F5F5;
          box-shadow: none;
          font-size: 13px;
          padding: 20px 10px;
          border-radius: 10px;
        }
      }
      .addres-names{
        background-color: #F2E3F8;
        h1{
          font-size: 14px;
          color: #000;
          padding: 15px 20px;
        }
        hr{
          border-top: 1px solid #fff;
          margin: 0px;
        }
        .text{
          max-height: 250px;
          overflow-y: scroll;
          color: #ACACAC;
          padding:15px 20px ;
          p{
            margin-bottom: 5px;
            font-size: 11px;
          }
        }
      }

    }
    .plan{
      h1{
        color: $primary;
        font-size: 20px;
      }
      .photo{
        max-width: 350px;
        img{
          width: 100%;
        }
      }
    
    }
    .nutration-info{
      h1{
        color: $primary;
        font-size: 15px;
      }
      ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
          color: #748A9D;
          font-size: 13px;
          display: flex;
          justify-content: space-between;
          span{
            color: #A6BCD0;
          }
        }
      }
    
    }
    .sign-out{
      text-align: right;
      button{
        box-shadow: none;
        background-color: #F2E3F8;
        color: #686868;
        padding: 12px 60px;
        font-size: 13px;
       
        i{
          color: #7BED8D;
          padding: 2px;
          border: 1px solid #7BED8D;
          border-radius: 50%;
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }
    @media only screen and (max-width:767px) {
      .sign-out{
        text-align: center;
      }
      
    }
  
  
  }

}





// end healthfood-section

// start menue button
.menue{
 .ourfood-section{
   background-color: $primary;
   padding: 10px 70px;
   h1{
     color: #fff;
     font-weight: bold;
     font-size: 29px;
     margin: auto;
   }
   .img-food{
     max-width: 250px;
     position: relative;
     margin: auto;
     img{
       width: 100%;
     }
     .content{
      position: absolute;
      bottom: 60px;
      left: 50px;
      color: #fff;
      padding: 30px 25px 2px 10px;
      h1{
        font-size: 20px;
        text-align: left;
        margin-bottom: 10px;
      }
      p{
       font-size: 7px;
       font-weight: bold;
       margin: 0px;
       }
    }
    @media only screen and (max-width:991px) {
      .content{
        left:10PX ;
        padding: 20px 15px 2px 10px
      }
      
    }
    @media only screen and (max-width:767px) {
      .content{
        left: 10px;
        padding: 10px 10px 2px 10px

          }
      
    }
   }
  
 
   .indulgent-section{
     background-color: #D2691E;
   }
   .logo-section{
     max-width: 150px;
     margin: auto;
     img{
       width: 100%;
     }
   }


 } 
 .heading{
  background-color: $primary;
  border-radius: 30px;
  padding: 25px 35px ;
  width: 90%;
    margin: auto;
  ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li{
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 3px;
      text-transform: uppercase;
    }
  }
 
}
@media only screen and (max-width: 767px) {
  .heading {
    max-width:180px ;
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  ul {
    flex-direction: column;
    @media only screen and (max-width: 767px) {
      li {
        padding: 20px 0px;
      }
    }
  }
}
.mixedberry-section{
  .melody{
    margin-bottom: 25px;

    .back-photo{
      max-width: 250px;
      margin: auto;

      img{
        width: 100%;

      }
    }
    .mixedberry-title{
      padding: 8px 15px;
      background-color: #F0F4F8;
      max-width: 250px;
      margin: auto;
      h1{
        font-size: 10px;
        margin: 0px;
        color: #748A9D;
      }
      p{
        font-size: 8px;
        margin: 0px;
        color: #A6BCD0;
      }
    }
  }
}
}



