<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 reset-container" style=" margin: auto;
            display: block;
            float: none;">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">{{"Reset Password" | translate}}</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content">
                        <form (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{"Email" | translate}}</label>
                                        <input type="email" [(ngModel)]="payload.email" name="oldPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{"New Password" | translate}}</label>
                                        <input type="password" [(ngModel)]="payload.password" name="newPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{"Confirm New Password" | translate}}</label>
                                        <input type="password" [(ngModel)]="payload.password_confirmation" name="confirmpassword" class="form-control">
                                    </div>
                                </div>
                                <div *ngIf="errorMsgs">
                                    <label for="example_input_full_name" class="text-danger">
                                        {{"Error Messages:" | translate}}
                                    </label>
                                    <span class="m-form__help text-danger d-block" *ngFor="let err of errorMsgs | objectArray">
                                        <br>{{err}}:&nbsp;{{errorMsgs[err][0]}} 
                                    </span>
                                </div>
                            </div>
                            <a routerLink="/login">{{"Do you have an account ?" | translate}}</a>
                            <button type="submit" class="btn btn-success pull-right">{{"Reset Password" | translate}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>