<!-- start sceion-one -->
<div class="info-section">
  <div class="container">
    <div class="logo">
      <img src="assets/img/black.png" alt="">
    </div>
    <div class="personal-info">
      <div class="parent-one">
        <hr class>
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1>Personal Info</h1>
      </div>

      <div class="formula">
        <div class="form-group row">
          <label class="col-lg-4 col-12 col-form-label">Username</label>
          <div class="col-lg-8 col-12">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="My name is…">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-lg-4 col-12 col-form-label font-15">Mobile Number</label>
          <div class="col-lg-8 col-12">
            <input type="text" class="form-control border-ridus" id="inputnumber" placeholder="+9">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword4" class="col-lg-4 col-12 col-form-label">Password</label>
          <div class="col-lg-8 col-12">
            <input type="password" class="form-control border-ridus" id="inputPassword4" placeholder="*********">
          </div>
        </div>



        <div class="form-group row">
          <label for="inputPassword" class="col-lg-4 col-12 col-form-label">Confirm Pas.</label>
          <div class="col-lg-8 col-12">
            <input type="password" class="form-control border-ridus" id="inputconfirm" placeholder="*******">
          </div>
        </div>

        <button class="btn btn-lg Continue">Continue</button>
      </div>
    </div>
  </div>
</div>

<!-- end sceion-one -->


<!-- start sceion-two -->

<div class="info-section">
  <div class="container">
    <div class="logo">
      <img src="assets/img/black.png" alt="">
    </div>
    <div class="personal-info">
      <div class="parent-tow">
        <hr>
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1>Personal Info</h1>
      </div>

      <div class="formula">
        <div class="form-group row">
          <label class=" col-lg-6 col-12 col-form-label">Address</label>
          <div class=" col-lg-8 col-12 margin-auto">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="My name is…">
          </div>
        </div>


        <div class="form-group row">
          <label class=" col-lg-6 col-12 col-form-label">Area</label>
          <div class=" col-lg-8 col-12 margin-auto">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="My name is…">
          </div>
        </div>

        <div class="form-group row">
          <label class=" col-lg-6 col-12 col-form-label">Street</label>
          <div class=" col-lg-8 col-12 margin-auto">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="My name is…">
          </div>
        </div>



        <div class="form-group row">
          <label class=" col-lg-8 col-12 col-form-label">Building - Floor</label>
          <div class=" col-lg-8 col-12 margin-auto">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="My name is…">
          </div>
        </div>

        <button class="btn btn-lg Continue">Continue</button>
      </div>
    </div>
  </div>
</div>

<!-- end sceion-tow -->



<!-- start section-three -->

<div class="info-section">
  <div class="container">
    <div class="logo">
      <img src="assets/img/black.png" alt="">
    </div>
    <div class="personal-info">
      <div class="parent-three">
        <hr class>
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1>Personal Info</h1>
      </div>
      <div class="type-person">
        <button class="btn btn-lg Male"> Male</button>
        <button class="btn btn-lg Female"> Female</button>
      </div>

      <div class="formula">
        <div class="row">
          <div class="col-11">
            <div class="form-group row">
              <label class=" col-lg-8 col-12 col-form-label">How tall are you?</label>
              <div class=" col-lg-8 col-12 margin-auto">
                <input type="text" class="form-control border-ridus" id="inputtext" placeholder="..">
              </div>
            </div>


            <div class="form-group row">
              <label class=" col-lg-10 col-12 col-form-label">How much do you weight?</label>
              <div class=" col-lg-8 col-12 margin-auto">
                <input type="text" class="form-control border-ridus" id="inputtext" placeholder="..">
              </div>
            </div>

            <div class="form-group row">
              <label class=" col-lg-9 col-12 col-form-label">Do you have Allergy?</label>
              <div class=" col-lg-8 col-12 margin-auto">
                <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
              </div>
            </div>
          </div>
          <div class="col-1 ">
            <ul>
              <li class="lightest"> 185</li>
              <li class="lighter">186</li>
              <li class="normal">187 <span> cm </span></li>
              <li class="lighter"> 188</li>
              <li class="lightest">189</li>

            </ul>
          </div>
        </div>


        <button class="btn btn-lg Continue">Continue</button>
      </div>
    </div>
  </div>
</div>
<!-- end section-three -->

<!-- start sceion-four -->

<div class="choose-section">
  <div class="container">
    <div class="logo">
      <img src="assets/img/black.png" alt="">
    </div>
    <div class="personal-info">
      <div class="parent-tow">
        <hr>
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1>Choose your program</h1>
      </div>

      <div class="plan">
        <div class="row">
          <div class="col-lg-3 col-12 Weight-loss">
            <h1>01</h1>
            <button class="btn btn-lg" (click)="plan = 1">Weight loss</button>
            <p>Show Details <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>

            </p>
          </div>

          <div class="col-lg-3 col-12 Bodybuilding">
            <h1>02</h1>
            <button class="btn btn-lg" (click)="plan = 2">Bodybuilding</button>
            <p>Show Details <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>

            </p>
          </div>

          <div class="col-lg-6 col-12 plan-program" [class.xyz]="plan === 3">
            <span>03</span>
            <button class="btn btn-lg" (click)="plan = 3">Plan your Program</button>
          </div>
        </div>
      </div>

      <div class="meals" *ngIf="plan === 3">
        <div class="main-meals">
          <ul>
            <li class="main"><span>the</span> <span class="color"> main </span> <span>meals</span>
              <div class="timer">
                <span>-</span>
                <span>1</span>
                <span>+</span>

              </div>
            </li>
            <li class="lunch">Lunch + Dinner</li>
            <li>Protein
              <div class="timer">
                <span>-</span>
                <span>100</span>
                <span>+</span>

              </div>
            </li>

            <li>Carb
              <div class="timer carb">
                <span>-</span>
                <span>50</span>
                <span>+</span>

              </div>
            </li>
          </ul>

        </div>
        <div class="add-snack main-meals">
          <ul>
            <li class="snack">Add <span>Snacks</span> </li>
            <li>1- Salads
              <div class="timer">
                <span>-</span>
                <span>1</span>
                <span>+</span>

              </div>
            </li>

            <li>2- Salads
              <div class="timer">
                <span>-</span>
                <span>1</span>
                <span>+</span>

              </div>
            </li>

            <li>3- Salads
              <div class="timer">
                <span>-</span>
                <span>1</span>
                <span>+</span>

              </div>
            </li>

            <li>4- Salads
              <div class="timer">
                <span>-</span>
                <span>1</span>
                <span>+</span>

              </div>
            </li>
          </ul>
        </div>


      </div>
      <div class="add-breakfast" *ngIf="plan === 3">
        <h1>ADD <span>BREAKFAST</span></h1>
        <div class="form-group row check-box">
          <div class="form-check col-lg-4 col-12 margin-auto">
            <input class="form-check-input check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label check-label" for="gridCheck">Varied Breakfast</label>
          </div>

          <div class=" col-lg-8 col-12 ">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
          </div>
        </div>
        <div class="form-group row check-box mb-15">
          <div class="form-check col-lg-4 col-12 margin-auto ">
            <input class="form-check-input check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label check-label" for="gridCheck">Specialties Breakfast</label>
          </div>

          <div class=" col-lg-8 col-12 ">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
          </div>
        </div>
      </div>
      <div *ngIf="plan === 1">
        I am the first gorm
      </div>
      <div *ngIf="plan === 2">
        ia m the second form
      </div>
    </div>
  </div>
</div>

<!-- end sceion-four -->

<!-- start section-five -->

<div class="payment-section">
  <div class="container">
    <div class="logo">
      <img src="assets/img/black.png" alt="">
    </div>
    <div class="personal-info">
      <div class="parent-three">
        <hr class>
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1> Payment</h1>
      </div>
      <div class="type">
        <button class="btn btn-lg "> 99 KWD</button>
      </div>

      <div class="formula-section">
        <div class="form-group row">
          <label class=" col-lg-7 col-12 col-form-label">Card Number</label>
          <div class=" col-lg-8 col-12 margin-auto">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="4567 7876 8776 7899">
          </div>
        </div>


        <div class="form-group row">
          <label class=" col-lg-7 col-12 col-form-label">Card Holder</label>
          <div class=" col-lg-8 col-12 margin-auto">
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Lucas Pacheco">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-8 col-12 text-left">
            <label class="col-form-label">Expiry Date</label>
            <input type="text" class="form-control border-ridus" id="inputtext" placeholder="09.24">
          </div>
          <div class="col-lg-4 col-12 text-left">
            <label class="col-form-label">CVV</label>
            <input type="text" class="form-control font " id="inputtext" placeholder="1">
          </div>
        </div>

        <div class="form-group row check">
          <div class="form-check col-lg-7 col-12 margin-auto">
            <input class="form-check-input check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label check-label" for="gridCheck">I want to add Friday to my
              Package.</label>
          </div>

          <div class=" col-lg-3 col-12 margin-auto">
            <p>15%</p>
          </div>
        </div>
        <button class="btn btn-lg Continue">Continue</button>
      </div>

    </div>
  </div>
</div>

<!-- end section-five -->

<!-- start section-six -->

<div class="Congratulations">
  <div class="container">

    <div class="personal-info">
      <div class="parent-three">
        <hr class>
      </div>
      <h1>Congratulations!</h1>
      <h2>You have successfully <br>
        completed your registration!</h2>
        <p>By believing in yourself and committing to <br>
           the registration, you will reach your goal.</p>
    
      <button class="btn btn-lg Continue">DONE!</button>


    </div>
  </div>
</div>

<!-- end section-six -->