<!-- start sceion-one -->
<div
  [ngClass]="{
    'info-section': currentStep === 1 || currentStep === 2 || currentStep === 3,
    'choose-section': currentStep === 4,
    'payment-section': currentStep === 5
  }"
>
  <div class="container">
    <div class="logo">
      <img src="assets/img/black.png" alt="" />
    </div>
    <div class="personal-info" *ngIf="currentStep === 1">
      <div class="parent-one">
        <hr [ngStyle]="{ width: (currentStep * 100) / 5 + '%' }" />
      </div>
      <div class="title">
        <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
        <h1>Personal Info</h1>
      </div>

      <form
        class="needs-validation"
        novalidate
        #f="ngForm"
        (ngSubmit)="firstForm(f)"
        #registerForm="ngForm"
      >
        <div class="formula text-left">
          <div class="form-group row">
            <label class="col-lg-3 col-12 col-form-label">
              <span
                class="has-asterisk"
                *ngIf="
                  firstName.errors?.required &&
                  (firstName.touched || requiredMsg1)
                "
                >*</span
              >Name</label
            >
            <div class="col-lg-9 col-12">
              <input
                type="text"
                name="userName"
                #firstName="ngModel"
                [(ngModel)]="payload.name"
                class="form-control border-ridus"
                required
                
                placeholder="My name is…"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-12 col-form-label font-15"
              ><span
                class="has-asterisk"
                *ngIf="
                  phone.errors && (phone.touched || requiredMsg1)
                "
                >*</span
              >Mobile Number</label
            >
            <div class="col-lg-9 col-12">
              <input
                type="tel"
                name="phone"
                pattern="\+?\d+"
                minlength="6"
                #phone="ngModel"
                [(ngModel)]="payload.phone"
                class="form-control border-ridus"
                required
                id="inputnumber"
                placeholder="+9"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword4" class="col-lg-3 col-12 col-form-label"
              ><span
                class="has-asterisk"
                *ngIf="email.errors && (email.touched || requiredMsg1)"
                >*</span
              >Email</label
            >
            <div class="col-lg-9 col-12">
              <input
                type="email"
                #email="ngModel"
                name="email"
                [(ngModel)]="payload.email"
                class="form-control border-ridus"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                placeholder="*********"
              />
            </div>
          </div>
        </div>
        <button class="btn btn-lg Continue" type="submit">Continue</button>
      </form>
    </div>
    <div class="personal-info" *ngIf="currentStep === 2">
      <div class="parent-tow">
        <hr [ngStyle]="{ width: (currentStep * 100) / 5 + '%' }" />
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" (click)="currentStep = 1" aria-hidden="true"></i>
        <h1>Personal Info</h1>
      </div>
      <form
        class="needs-validation"
        novalidate
        #f2="ngForm"
        (ngSubmit)="secondForm(f2)"
        #registerForm2="ngForm"
      >
        <div class="formuls text-left">
          <div class="form-group">
            <label>Address</label>
            <input
              name="address"
              [(ngModel)]="payload.address"
              type="text"
              class="form-control border-ridus"
              required
              placeholder="My name is…"
            />
          </div>

          <div class="form-group">
            <label>Area</label>
            <input
              name="area"
              [(ngModel)]="payload.area"
              type="text"
              class="form-control border-ridus"
              required
              placeholder="My name is…"
            />
          </div>

          <div class="form-group">
            <label>Street</label>
            <input
              type="text"
              name="street"
              [(ngModel)]="payload.street"
              class="form-control border-ridus"
              
              required
              placeholder="My name is…"
            />
          </div>

          <div class="form-group">
            <label>Building - Floor</label>
            <input
              type="text"
              name="building_no"
              [(ngModel)]="payload.building_no"
              class="form-control border-ridus"
              
              required
              placeholder="My name is…"
            />
          </div>
        </div>
        <button class="btn btn-lg Continue" type="submit">Continue</button>
      </form>
    </div>
    <div class="personal-info" *ngIf="currentStep === 3">
      <div class="parent-three">
        <hr [ngStyle]="{ width: (currentStep * 100) / 5 + '%' }" />
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" (click)="currentStep = 2" aria-hidden="true"></i>
        <h1>Personal Info</h1>
      </div>

      <form
        class="needs-validation"
        novalidate
        #f3="ngForm"
        (ngSubmit)="thirdForm(f3)"
        #registerForm3="ngForm"
      >
        <div class="formulas text-left flex-column">
          <!-- <div class="center-align mb-2">
            <input type="radio" name="size" id="size_1" value="small" checked />
            <label for="size_1" class="type text-center">Male</label>

            <input type="radio" name="size" id="size_2" value="small" />
            <label for="size_2" class="type text-center">Female</label>
          </div> -->
          <div class="form-group">
            <label>How tall are you?</label>
            <input
              type="number"
              name="height"
              [(ngModel)]="payload.height"
              class="form-control border-ridus"
              required
              placeholder=".."
            />
          </div>

          <div class="form-group">
            <label>How much do you weight?</label>
            <input
              type="number"
              name="weight"
              [(ngModel)]="payload.weight"
              class="form-control border-ridus"
              required
              placeholder=".."
            />
          </div>

          <div class="form-group">
            <label>Do you have Allergy?</label>
            <input
              type="text"
              name="allergies"
              [(ngModel)]="payload.allergies"
              class="form-control border-ridus"
              required
              placeholder="Write here.."
            />
          </div>
          <!-- <ul>
            <li class="lightest">185</li>
            <li class="lighter">186</li>
            <li class="normal">187 <span> cm </span></li>
            <li class="lighter">188</li>
            <li class="lightest">189</li>
          </ul> -->
        </div>
        <button class="btn btn-lg Continue" type="submit">Continue</button>
      </form>
    </div>
    <div class="personal-info" *ngIf="currentStep === 4">
      <div class="parent-tow">
        <hr [ngStyle]="{ width: (currentStep * 100) / 5 + '%' }" />
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1>Choose your program</h1>
      </div>

      <!-- wight loss button -->
      <div class="weightloss-section" *ngIf="plan === 1" [@enterAnimation]>
        <div class="loss-plan">
          <div class="row">
            <div class="col-lg-6 col-12 color-up">
              <span>01</span>
              <button class="btn btn-lg" (click)="plan = 1">Weight loss</button>
            </div>

            <div class="col-lg-3 col-12 Bodybuilding normal">
              <h1>02</h1>
              <button class="btn btn-lg" (click)="plan = 2">
                Bodybuilding
              </button>
              <p>
                Show Details
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </p>
            </div>

            <div
              class="col-lg-3 col-12 normal plan-program"
              [class.xyz]="plan === 3"
            >
              <h1>03</h1>
              <button class="btn btn-lg" (click)="plan = 3">
                Plan your Program
              </button>
              <p>
                Show Details
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="order">
          <h1>
            <span
              >{{ pacakges?.normal.meals.breakfast.quantity }} Breakfast +
              {{ pacakges?.normal.meals.snacks.quantity }} Snackes +
              {{ pacakges?.normal.meals.main_course.quantity }} Meals
            </span>
          </h1>
        </div>
      </div>

      <!-- bodybulding button -->
      <div class="bodybilding-section" *ngIf="plan === 2" [@enterAnimation]>
        <div class="bodybilding-plan">
          <div class="row">
            <div class="col-lg-3 col-12 normal">
              <h1>01</h1>
              <button class="btn btn-lg" (click)="plan = 1">Weight loss</button>
              <p>
                Show Details
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </p>
            </div>

            <div class="col-lg-6 col-12 Bodybuilding color-up">
              <span>02</span>
              <button class="btn btn-lg" (click)="plan = 2">
                Bodybuilding
              </button>
            </div>

            <div
              class="col-lg-3 col-12 normal plan-program"
              [class.xyz]="plan === 3"
            >
              <h1>03</h1>
              <button class="btn btn-lg" (click)="plan = 3">
                Plan your Program
              </button>
              <p>
                Show Details
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-one option-level" [class.level-three]="i === 2" *ngFor="let level of pacakges['body buiding']?.meals.main_course.prices;index as i">
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
            <h1><input type="radio" name="level" (click)="selectPrice(level)">LEVEL <span> {{i+1 | numberToWord}}</span></h1>
            <h2>  <span
              >{{ pacakges?.normal.meals.breakfast.quantity }} Breakfast +
              {{ pacakges?.normal.meals.snacks.quantity }} Snackes +
              {{ pacakges?.normal.meals.main_course.quantity }} Meals
            </span></h2>
            <p> {{level.protein}} Gram Protein</p>
            <div class="flex">
              <span>Carbohydrate</span>
              <!-- <div class="timer"> -->
                 &nbsp;{{level.carb}}
              <!-- </div> -->
            </div>
          </div>
          <!-- <div class="level-tow option-level">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <h1>LEVEL <span> two</span></h1>
            <h2>4 Meals + 2 Snackes</h2>
            <p>150 Gram Protein</p>
            <div class="flex">
              <span> Carbohydrate</span>
              <div class="timer">
                <span>-</span>
                <span>50</span>
                <span>+</span>
              </div>
            </div>
          </div>
          <div class="level-three option-level">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <h1>LEVEL <span> three</span></h1>
            <h2>4 Meals + 2 Snackes</h2>
            <p>200 Gram Protein</p>
            <div class="flex">
              <span> Carbohydrate</span>
              <div class="timer">
                <span>-</span>
                <span>50</span>
                <span>+</span>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="plan" *ngIf="plan === 3" [@enterAnimation]>
        <div class="row">
          <div class="col-lg-3 col-12 normal">
            <h1>1</h1>
            <button class="btn btn-lg" (click)="plan = 1">Weight loss</button>
            <p>
              Show Details
              <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </p>
          </div>

          <div class="col-lg-3 col-12 normal">
            <h1>2</h1>
            <button class="btn btn-lg" (click)="plan = 2">Bodybuilding</button>
            <p>
              Show Details
              <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </p>
          </div>

          <div class="col-lg-6 col-12 color-up" [class.xyz]="plan === 3">
            <span>03</span>
            <button class="btn btn-lg" (click)="plan = 3">
              Plan your Program
            </button>
          </div>
        </div>
      </div>

      <div class="meals" *ngIf="plan === 3">
        <div class="main-meals">
          <ul>
            <li class="main mb-2">
              <span>the</span> <span class="color"> main </span>
              <span>meals</span>
              <div class="timer">
                <span>-</span>
                <span>1</span>
                <span>+</span>
              </div>
            </li>
            <li class="lunch mb-2">Lunch + Dinner</li>
            <li class="mb-2">
              Protein
              <div class="timer">
                <span>-</span>
                <span>100</span>
                <span>+</span>
              </div>
            </li>

            <li class="mb-2">
              Carb
              <div class="timer carb">
                <span>-</span>
                <span>50</span>
                <span>+</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="add-snack main-meals">
          <ul>
            <li class="snack mb-2">Add <span>Snacks</span></li>
            <li class="mb-2">
              1- Breakfast
              <div class="timer">
                <span class="pointer" (click)="customQuantity('breakfast','-')">-</span>
                <span>{{packagePayloadCustom.breakfast}}</span>
                <span class="pointer" (click)="customQuantity('breakfast','+')">+</span>
              </div>
            </li>

            <li class="mb-2">
              2- Fruit
              <div class="timer">
                <span class="pointer" (click)="customQuantity('fruit','-')">-</span>
                <span>{{packagePayloadCustom.fruit}}</span>
                <span class="pointer" (click)="customQuantity('fruit','+')">+</span>
              </div>
            </li>

            <li class="mb-2">
              3- Snacks
              <div class="timer">
                <span class="pointer" (click)="customQuantity('snacks','-')">-</span>
                <span>{{packagePayloadCustom.snacks}}</span>
                <span class="pointer" (click)="customQuantity('snacks','+')">+</span>
              </div>
            </li>

            <li class="mb-2">
              4- Protein snacks
              <div class="timer">
                <span class="pointer" (click)="customQuantity('protein_snacks','-')">-</span>
                <span>{{packagePayloadCustom.protein_snacks}}</span>
                <span class="pointer" (click)="customQuantity('protein_snacks','+')">+</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="add-breakfast" *ngIf="plan === 3">
        <h1>ADD <span>BREAKFAST</span></h1>
        <div class="container-fluid">
          <div class="form-group row check-box">
            <div class="form-check col-lg-4 col-12 margin-auto">
              <input
                class="form-check-input check-input"
                type="checkbox"
                id="gridCheck"
              />
              <label class="form-check-label check-label" for="gridCheck"
                >Varied Breakfast</label
              >
            </div>

            <div class="col-lg-8 col-12">
              <input
                type="text"
                class="form-control border-ridus"
                
                placeholder="Write here.."
              />
            </div>
          </div>
          <div class="form-group row check-box mb-15">
            <div class="form-check col-lg-4 col-12 margin-auto">
              <input
                class="form-check-input check-input"
                type="checkbox"
                id="gridCheck"
              />
              <label class="form-check-label check-label" for="gridCheck"
                >Specialties Breakfast</label
              >
            </div>

            <div class="col-lg-8 col-12">
              <input
                type="text"
                class="form-control border-ridus"
                
                placeholder="Write here.."
              />
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-lg Continue" (click)="setPackages()">Continue</button>
    </div>
    <div class="personal-info" *ngIf="currentStep === 5">
      <div class="parent-three">
        <hr [ngStyle]="{ width: (currentStep * 100) / 5 + '%' }" />
      </div>
      <div class="title">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h1>Payment</h1>
      </div>
      <div class="type">
        <button class="btn btn-lg">99 KWD</button>
      </div>

      <div class="formula-section">
        <div class="form-group row">
          <label class="col-lg-7 col-12 col-form-label">Card Number</label>
          <div class="col-lg-8 col-12 margin-auto">
            <input
              type="text"
              class="form-control border-ridus"
              
              placeholder="4567 7876 8776 7899"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-7 col-12 col-form-label">Card Holder</label>
          <div class="col-lg-8 col-12 margin-auto">
            <input
              type="text"
              class="form-control border-ridus"
              
              placeholder="Lucas Pacheco"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-8 col-12 text-left">
            <label class="col-form-label">Expiry Date</label>
            <input
              type="text"
              class="form-control border-ridus"
              
              placeholder="09.24"
            />
          </div>
          <div class="col-lg-4 col-12 text-left">
            <label class="col-form-label">CVV</label>
            <input
              type="text"
              class="form-control font"
              
              placeholder="1"
            />
          </div>
        </div>

        <div class="form-group row check">
          <div class="form-check col-lg-7 col-12 margin-auto">
            <input
              class="form-check-input check-input"
              type="checkbox"
              id="gridCheck"
            />
            <label class="form-check-label check-label" for="gridCheck"
              >I want to add Friday to my Package.</label
            >
          </div>

          <div class="col-lg-3 col-12 margin-auto">
            <p>15%</p>
          </div>
        </div>
        <button class="btn btn-lg Continue">Continue</button>
      </div>
    </div>
  </div>
</div>

<!-- end sceion-one -->

<!-- <div class="Congratulations">
  <div class="container">
    <div class="logos mb-3">
      <img src="assets/img/img.png" alt="" />
    </div>

    <div class="personal-info">
      <div class="parent-three">
        <hr class />
      </div>
      <h1>Congratulations!</h1>
      <h2>
        You have successfully <br />
        completed your registration!
      </h2>
      <p>
        By believing in yourself and committing to <br />
        the registration, you will reach your goal.
      </p>

      <button class="btn btn-lg Continue">DONE!</button>
    </div>
  </div>
</div> -->

<!-- end section-six -->
