<!-- start navbar -->
<div class="navbar">
  <div class="img-chef">
    <img src="assets/img/chef.png" alt="">
  </div>
  <div class="btn-group sign-chef">
    <button class="btn btn-primary index" type="submit">Sign Up</button>
    <button class="btn btn-primary mrg-left " type="submit">Log In</button>
  </div>
</div>
<!-- end navbar -->


<!-- start health -->
<div class="health">
  <div class="social-media">
    <ul>
      <li><i class="fab fa-twitter"></i>
      </li>
      <li><i class="fab fa-facebook-f"></i>
      </li>
      <li><i class="fab fa-google"></i>
      </li>
      <li> <i class="fab fa-snapchat-ghost"></i>
      </li>
      <li> <i class="fab fa-instagram"></i>
      </li>

    </ul>
  </div>
  <div class="eat-health">
    <h1>Eat Healthy,</h1>
    <h1>Feel Healty.</h1>
    <p>Don’t Start A Diet That Has An Expiration Date. </p>
    <p class="underline"> Develop A Healthy Lifestyle That Will Last Forever.</p>
  </div>
</div>
<!-- end health -->

<!-- start meals -->
<div class="meals">
  <div class="container">
  <div class="img-chef">
    <img src="assets/img/chef.png" alt="">
  </div>
  <div class="row">
    <div class="col-4">
      <div class="Lunch">
        <img src="assets/img/lunche.jpg" alt="">
        <div class="choose">
        <h1>lunch</h1>
        <p>Choose Your Meal</p>
      </div>
      </div>
    </div>

    <div class="col-4">
      <div class="Breakfast">
        <img src="assets/img/breakfast.jpg" alt="">
        <div class="choose">
        <h1>Breakfast</h1>
        <p>Choose Your Meal</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="category">
        <h1>MEALS</h1>
          <h2> CATEGORIES</h2>
          <p>WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN
            DIET IS CORRECT, MEDICINE IS OF NO NEED.</p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- end meals -->

<!-- start offer -->
<div class="offer-section">
  <div class="container">
    <h1>What Do We <span> Offer </span> ?</h1>
    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</p>
<div class="offer-type">
  <div class="row">
    <div class="col-lg-6 col-12 ">
      <div class="flex-part">
      <div class="offer-no">
        <h1>01</h1>
      </div>
      <div class="offer-name">
        <h1>Weight Loss Program
        </h1>
        <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
          Curabitur Eleifend Non Purus Et Scelerisque. In Lectus
          Augue, Elementum Nec Velit Vel, Congue Efficitur Sem.
          Praesent Nec Risus Vitae Sem Dapibus Hendrerit. Quisque
          Pellentesque Egestas Leo, Eu Congue Sem Imperdiet Auctor.</p>
      </div>
    </div>
    </div>

    <div class="col-lg-6 col-12 ">
      <div class="flex-part">
      <div class="offer-no">
        <h1>02
        </h1>
      </div>
      <div class="offer-name">
        <h1>Bodybuilding Program
        </h1>
        <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
          Curabitur Eleifend Non Purus Et Scelerisque. In Lectus
          Augue, Elementum Nec Velit Vel, Congue Efficitur Sem.
          Praesent Nec Risus Vitae Sem Dapibus Hendrerit.</p>
      </div>
    </div>
    </div>

    <div class="col-lg-6 col-12 ">
      <div class="flex-part">
      <div class="offer-no">
        <h1>03
        </h1>
      </div>
      <div class="offer-name">
        <h1>Plan Your Meals
        </h1>
        <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
          Curabitur Eleifend Non Purus Et Scelerisque. In Lectus
          Augue, Elementum Nec Velit Vel, Congue Efficitur Sem.
          Praesent Nec Risus Vitae Sem Dapibus Hendrerit. Quisque
          Pellentesque Egestas Leo, Eu Congue Sem Imperdiet Auctor.</p>
      </div>
    </div>
    </div>
  </div>
  <button class="btn btn-primary blur" type="submit">Join us</button>
</div>
  </div>
</div>

<!-- end offer -->

<!-- start about-us -->
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
<div class="photo">
  <img src="assets/img/milk.jpg" alt="">

</div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="healthy-life">
          <h1>
            About Us
          </h1>
          <h2>
            Healthy life
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur 
            eleifend non purus et scelerisque. In lectus augue, elementum nec
             velit vel, congue efficitur sem. Praesent nec risus vitae sem dapibus 
            hendrerit. Quisque pellentesque egestas leo, eu congue sem imperdiet
             auctor. Donec consectetur, eros vel gravida hendrerit, justo leo iaculis
             velit, et ullamcorper eros nisi ut mauris. Mauris ultricies porta velit,
             ornare pellentesque dolor commodo id. Nulla venenatis pulvinar orci,
             eget suscipit sapien lobortis et. Phasellus feugiat felis sed pretium
             faucibus. Proin at turpis nisl. Phasellus maximus finibus posuere.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end about-us -->


<!-- start footer -->
<div class="footer ">
  <div class="container">

  <div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-6">
      <div class="img-logo">
        <img src="assets/img/drchef.png" alt="">
      </div>
    </div>

      <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="footer-contact font">
              <h1>Contact Info</h1>
              <p> <span> Phone:</span> +9 (509) 120 6705</p>
              <p><span> Address:</span> Kuwait City.</p>
          </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="footer-help font">
              <h1>Get Help</h1>
              <p>Delivery Information</p>
              <p>Sale Terms & Conditions</p>
              <p>Returns & Refunds</p>
              <p>Privacy Notice</p>
              <p>Shopping FAQs</p>

          </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="email-adress font">
              <h1>Let’s stay in touch
              </h1>
              <div class="input-group mb-3 subscribe-input">
                  <input type="text" class="form-control input-text " placeholder="Enter your email address"
                      aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append subscribe-button">
                      <button class="btn btn-secondary" type="button">Subscribe</button>
                  </div>
              </div>
              <p>Keep up to date with our latest
                  news and special offers.</p>

          </div>
      </div>
  </div>
  <div class="accept">
      <h1>We accept:</h1> <br>

  </div>
  <hr>
  <div class="row copy-right">

      <div class="col-9 ">
          <p class="text">© Copyrights 2020 / Dr & Chef  Website. Made with passion  </p>
      </div>
      <div class="col-3">
          <p class="text"> All Rights Reserved. </p>
      </div>
  </div>
</div>
</div>
<!-- end footer -->



