@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */

/* @import "../node_modules/ng2-toastr/bundles/ng2-toastr.min.css"; */
// @import "./assets/css/demo.css";
// @import "./assets/sass/material-dashboard.scss";
// @import "../node_modules/perfect-scrollbar/css/perfect-scrollbar.css";
// @import "../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
.theme-green .bs-datepicker-head {
    background-color: #83489a;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 20px 30px 10px #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #83489a;
    outline: 1px solid slategrey;
  }